################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/AbstractFactoryPattern/.vs
/AbstractFactoryPattern/obj
/AbstractFactoryPattern/bin
/Application
